.mobile-mode{
    display: none;
}

.topo .desktop-mode{
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #DBDBDB;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}



.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 142px;
    font-size: 25px;
}

.vr{
    width: 1px;
    height: 22px;
    border-right: 1px solid #DBDBDB;
}

.search-bar input{
    background: #FAFAFA;
    width: 215px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.top-icons{
    display: flex;
    justify-content: space-between;
    width: 133px;
    font-size: 22px;
}

 body{
     background:#FAFAFA;
     font-family: 'Roboto', sans-serif;
 }
 main{
     display: flex;
     justify-content: space-evenly;
     margin-top: 54px;
 }

 .stories{
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-top: 88px;
     background: #FFFFFF;
     border: solid 1px #DBDBDB;
     border-radius: 3px;
 }

 .story{
     display: flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
     margin-top: 1px;
 }

 .story img{
     width: 56px;
     border: solid 2px white;
     border-radius: 40px;
 }

 .posts{
     margin-top: 14px;
 }

 .post{
     background: white;
     border: 1px solid #DBDBDB;
     width: 614px;
     display: flex;
     flex-direction: column;
     border-radius: 3px;
     margin-bottom: 60px;
 }

 .post img{
     width: 614px;
 }
 .post video{
    width: 614px;
 }

 .post-top-bar{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding-left: 17px;
     padding-right: 17px;

 }

.user-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

 .user-profile img{
     width: 32px;
     height: 32px;
     border-radius: 40px;
     margin-right: 15px;
 }

 .username{
     font-size: 14px;
     font-weight: 500;
 }

 .post-bottom-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 22px;
 }
 .actions{
    display: flex; 
    justify-content: space-between;
    width: 100px;
 }

 .likes{
     font-weight: 500;
     font-size: 14px;
     padding-left: 17px;
     padding-right: 17px;
 }

 .likes img{
     width: 20px;
     height: 20px;
     padding-right: 5px;
 }

 .like_label{
     display: flex;
     flex-direction: row;
     justify-content: start;
     align-items: center;
 }



 .sidebar{
     width: 293px;
     margin-top: 52px;
     margin-left: 28px;

 }


.sidebar .user-profile img{
   width: 52px;
   height: 52px;
}

 .info{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     font-size: 12px;
     font-weight: 500;
 }

 .info :nth-child(1){
     color: #8E8E8E;
 }

 .name-username{
     display: flex;
     flex-direction: column;
     align-self: center;
 }


 .suggestion{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .suggestion img{
     width: 32px;
     height: 32px;
     border-radius: 40px;
 }

 .suggestion p{
     font-size: 12px;
 }

 
 .suggestion-box{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .labels{
     margin-left: 11px;
 }

 .follow_btn{
    color: #139EF2;
    font-size: 12px;
 }

 .info-buttons{
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    color: #C7C7C7;
 }

 @media(max-width: 935px){
     .sidebar{
         display: none;
     } 
 }

 @media(max-width: 614px){

    .topo .desktop-mode{
        display: none;
    }
    .mobile-mode{
        width: 100vw;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #DBDBDB;
        background: #FFFFFF;
        position: fixed;
        top: 0;
        left: 0;
    }    
 }