*{
    box-sizing: border-box;
}


.mobile-mode{
    display: none;
}

.topo .desktop-mode{
    height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #DBDBDB;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}



.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 142px;
    font-size: 25px;
}

.vr{
    width: 1px;
    height: 22px;
    border-right: 1px solid #DBDBDB;
}

.search-bar input{
    background: #FAFAFA;
    width: 215px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.top-icons{
    display: flex;
    justify-content: space-between;
    width: 184px;
    font-size: 22px;
}

 body{
     background:#FAFAFA;
     font-family: 'Roboto', sans-serif; 
 }
 main{
     display: flex;
     justify-content: space-evenly;
     margin-left: auto;
     margin-right: auto;
     margin-top: 88px;
     width: 935px;
 }
 

 .stories{
     display: flex;
     width: 614px;
     height: 118px;
     justify-content: start;
     padding-left: 15px;
     align-items: center;
     background: #FFFFFF;
     border: solid 1px #DBDBDB;
     border-radius: 3px;
     overflow: hidden;
     position: relative;
 }

 .stories .arrow{
     position: absolute;
     font-size: 26px;
     color: #FFFFFF;
     left: calc(614px - 40px);
 }

 .story{
     margin-top: auto;
     display: flex;
     flex-direction:column;
     align-items: center;
     margin-right: 15px;
 }

 .story img{
     width: 56px;
     height: 56px;
     border-radius: 40px;
     padding: 3px;
 }

 .story .gradient-border{
    background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%);
    border-radius: 40px;
    width: 56px;
    height: 56px;
 }

 .story .username_label{
     font-size: 12px;
     font-weight: 400;
     color: #262626;
 }


 .posts{
     margin-top: 14px;
 }

 .post{
     background: white;
     border: 1px solid #DBDBDB;
     width: 614px;
     display: flex;
     flex-direction: column;
     border-radius: 3px;
     margin-bottom: 60px;
 }

 .post img{
     width: 612px;
 }
 .post video{
    width: 614px;
 }

 .post-top-bar{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding-left: 17px;
     padding-right: 17px;

 }

 .post-top-bar .user-profile img{
    margin-right: 5px;
 }

.user-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}

 .user-profile img{
     width: 32px;
     height: 32px;
     border-radius: 40px;
 }

 .sidebar .user-profile .info{
    font-size: 12px;
    font-weight: 400;
    color: #8E8E8E;
}


 .username{
     font-size: 14px;
     font-weight: 500;
 }

 .post-bottom-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 22px;
 }
 .actions{
    display: flex; 
    justify-content: space-between;
    width: 100px;
 }

 .likes{
     font-weight: 500;
     font-size: 14px;
     padding-left: 17px;
     padding-right: 17px;
 }

 .like_label img{
     width: 20px;
     border-radius: 40px;
     margin-right: 10px;
 }

 .like_label{
     display: flex;
     flex-direction: row;
     justify-content: start;
     align-items: center;
 }



 .sidebar{
     width: 293px;
     margin-top: 31px;
     margin-left: 28px;

 }


.sidebar .user-profile img{
   width: 52px;
   height: 52px;
}

.sidebar .username_label{
    font-size: 12px;
    font-weight: 500;
}

.sidebar .suggestion .info{
    font-size: 11px;
    font-weight: 400;
    color: #8E8E8E;
}


 .info{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     font-size: 12px;
     font-weight: 500;
 }

 .info :nth-child(1){
     color: #8E8E8E;
 }

 .name-username{
     display: flex;
     flex-direction: column;
     align-self: center;
 }


 .suggestion{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .suggestion img{
     width: 32px;
     height: 32px;
     border-radius: 40px;
 }

 .suggestion p{
     font-size: 12px;
 }

 
 .suggestion-box{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .labels{
     margin-left: 11px;
 }

 .follow_btn{
    color: #139EF2;
    font-size: 12px;
 }

 .info-buttons{
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    color: #C7C7C7;
 }
 
.bottom-bar{
    display: none;
}


 @media(max-width: 935px){
     .sidebar{
         display: none;
     } 

 }

 @media(max-width: 614px){


    header, main, footer{
        width: 100%;
    }

    .topo .desktop-mode{
        display: none;
    }
    .topo .mobile-mode{
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #DBDBDB;
        background: #FFFFFF;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        font-size: 22px;
    }    

    .feed, .stories, .posts, .post{
        width: 100%;
    }

    .post, .post-image img{
        width: 100%;
    }

    .post, .post-image video{
        width: 100%;
    }

    .stories{
        background-color: transparent;
        border-color: transparent;
        margin: auto;
    }

    .bottom-bar{
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 1px solid #DBDBDB;
        background: #FFFFFF;
        height:54px ;
        justify-content: space-around;
        align-items: center;
        font-size: 22px;
    }
 }